@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border-radius: 20px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

// .slick-slide {
//   opacity:0;
//   transition-delay: 0s;
//   transition-duration: 0.2s;
//   transition-property: opacity;
//   transition-timing-function: ease-out;
// }

// .slick-slide.slick-active {
//   opacity:1;
//   transition-delay: 0.3s;
//   transition-duration: 0.2s;
//   transition-property: opacity;
//   transition-timing-function: ease-in;
// }