@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar-track{
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb{
  background-color: #a3a3a3;
  border-radius: 20px;
}
  
// .slick-slide {
//   opacity:0;
//   transition-delay: 0s;
//   transition-duration: 0.2s;
//   transition-property: opacity;
//   transition-timing-function: ease-out;
// }
  
// .slick-slide.slick-active {
//   opacity:1;
//   transition-delay: 0.3s;
//   transition-duration: 0.2s;
//   transition-property: opacity;
//   transition-timing-function: ease-in;
// }