.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-move {
  transition: all 0.5s;
}

.v-enter-active,
.v-leave-active {
  transition: all 0.1s;
}

.v-enter,
.v-leave-to {
  opacity: 0;
}

.v-move {
  transition: all 0.5s;
}
